<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975586407043-lc7nhldt3535ff1njss8idu9ikfijebd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975586407043-lc7nhldt3535ff1njss8idu9ikfijebd</string>
	<key>API_KEY</key>
	<string>AIzaSyC7L5_KOn-JEbqlFzZIADu_UVLZbko8JGM</string>
	<key>GCM_SENDER_ID</key>
	<string>975586407043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gc.circleapp</string>
	<key>PROJECT_ID</key>
	<string>krypto-1a924</string>
	<key>STORAGE_BUCKET</key>
	<string>krypto-1a924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975586407043:ios:3fa5bbbfa8dd76c8a921b6</string>
</dict>
</plist>